{% extends "base.html" %}

{% block page_content %}
    <h1>New character creation</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname(size=50) }}
            {% for error in form.firstname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
     <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(size=50) }}
            {% for error in form.lastname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
     <p>
            {{ form.useremail.label }}<br>
            {{ form.useremail(size=120) }}
            {% for error in form.useremail.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
{% endblock %}